<!DOCTYPE HTML>
<html>
  <head>
    <title>My&nbsp;First&nbsp;Kubernetes&nbsp;Website&nbsp;|&nbsp;Wix&nbsp;|&nbsp;Serverless&nbsp;|&nbsp;Squarespace&nbsp;|&nbsp;</title>
    <link href="./static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="./static/images/j-favicon.png"/>
    <script src="./static/script.js"></script>
    <script src="./static/lib.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="height: 100vh;">
    <marquee style="background: linear-gradient(45deg, springgreen, rebeccapurple); color: snow; font-family: fantasy; font-size: 24px;" scrolldelay="1" direction="right" behavior="alternate">
      Congratulations! You are the <span class="visitor-count">NaN</span>th visitor to this site!
    </marquee>
    <marquee scrolldelay="10" behavior="slide">
      <img src="https://polybit-apps.s3.amazonaws.com/stdlib/users/jacoblee/profile/image.png">
    </marquee>
    <marquee scrolldelay="20" behavior="alternate">Hi, I'm Jacob?</marquee>
    <marquee scrolldelay="15" direction="right">
      Welcome to my website!
    </marquee>
    <marquee scrolldelay="17">
      As you can see, I&amp;rsquo;m gainfully employed as a {{= this.user.job }}.
    </marquee>
    <marquee scrolldelay="30" direction="right" behavior="alternate">
      <div class="create-account-container">
        <a href="/" target="_blank" class="create-account">Create Account</a>
      </div>
    </marquee>
    <marquee style="height: 400px; width: 50%; min-width: 400px; display: inline;" direction="down" scrolldelay="2000">
      <a href="https://twitter.com/@hacubu" target="_blank">Twitter</a>
      <a href="https://www.linkedin.com/in/jacob-lee-4610635b/" target="_blank">LinkedIn</a>
      <a href="https://github.com/jacoblee93" target="_blank">GitHub</a>
      <a href="https://www.google.com/search?q=bitcoin&oq=bitcoin" target="_blank">Bitcoin</a>
    </marquee>
    <marquee style="height: 400px; width: 100%; text-align: right; display: inline;" direction="up" scrolldelay="5" behavior="alternate">
      Please support me by disabling AdBlock!
    </marquee>
    <marquee behavior="slide" scrollamount="200" style="background-color: #000000; color: #ffffff; bottom: 0; position: fixed; left: 0">
      This website proudly imports React(dot)js and Bootstrap<br>
      Hosted on <a href="https://autocode.com">Autocode</a>
    </marquee>
  </body>
</html>
